.col-md-4{
  display: inline-block;
  padding: 10px 5% 10px 5%;
}
.text-center {
  text-align: center;
}
.pricing-table {
  background-color: #ffffff;
  border: 1px solid #f8f8f8;
  padding: 20px;
}
.pricing-header .unit {
  display: inline-block;
  font-size: 24px;
  margin-top: 9px;
  vertical-align: top;
}
.pricing-header .price strong {
  color: #222222;
  font-size: 54px;
  font-weight: bold;
}
.pricing-content p {
  margin-bottom: 0;
  padding: 15px;
}
.pricing-title {
  color: #ffffff;
  font-size: 15px;
  margin: 15px 0;
  padding: 0;
  position: relative;
  text-transform: capitalize;
}
.primary-bg{
  background-color: #ff6666;
}
.pricing-title::before {
  background-color: #f8f8f8;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 23px;
  width: 100%;
}
.pricing-title span {
  border-radius: 25px;
  overflow: hidden;
  padding: 13px 30px;
  position: relative;
}
.bg_dark_blue {
  background-color: #2e363f;
}
.pricing-footer {
  border-top: 1px solid #f8f8f8;
  padding-top: 20px;
}

.btn-secondary, .btn-green:hover, .options, #main .conclusion .normal span, .btn-primary:hover {
  background-color: #2e363f;
}

.btn_normal {
    padding: 16px 17px 16px 28px;
}
.btn-secondary {
    font-size: 8px;
}
.button {
  color: #fff;
  font-family: Lato;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}

.caps_normal {
  font-size: 10px;
  letter-spacing: 3.3px;
}

a {
  color: #428bca;
  text-decoration: none;
}

.btn-primary {
  background-color: #ff6666;
}

.btn-secondary:hover{
  background-color: #ff6666;
}