<div id="loginbox">
  <form id="loginform" class="form-vertical">
    <div class="control-group normal_text">
      <h3>
        <img src="../../assets/img/logo.png" alt="Logo"/>
      </h3>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_lg">
            <i class="icon-user"></i>
          </span><input type="text" placeholder="Username"/>
        </div>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <div class="main_input_box">
          <span class="add-on bg_ly">
            <i class="icon-lock"></i>
          </span><input type="password" placeholder="Password"/>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <span class="pull-left">
        <a href="#" class="flip-link btn btn-info" id="to-recover">
          Lost password?
        </a>
      </span>
      <span class="pull-right">
        <button (click)="login()" class="btn btn-success"> Login</button>
      </span>
    </div>
  </form>
</div>

