<!--Content-->

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="dashboard" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a><a class="current">Deposit</a> </div>
    <h1>Deposit</h1>
  </div>
  <div class="container-fluid"><hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-briefcase"></i> </span>
            <h5 >Choose Plan</h5>
          </div>
          <div class="col-md-4">
            <div class="pricing-table">
              <div class="pricing-header text-center">
                <span class="unit">€</span>
                <span class="price"><strong>50</strong>/mo</span>
                <h3 class="pricing-title"><span class="bg_dark_blue">Standard plan</span></h3>
              </div>
              <div class="pricing-content">
                <div style="text-align: center;">
                  <p>10 ready home page</p>
                  <p>5 different header style</p>
                  <p>Unlimited data transfer</p>
                  <p>30 days moneyback guarantee</p>
                  <p>Enhanced security</p>
                </div>
              </div><!-- pricing-content -->
              <div class="pricing-footer text-center">
                <a class="button caps_normal btn_normal btn-secondary" href="#" target="_blank">Get started now</a>
              </div>
            </div><!-- pricing-table -->
          </div>

          <div class="col-md-4">
            <div class="pricing-table">
              <div class="pricing-header text-center">
                <span class="unit">€</span>
                <span class="price"><strong>100</strong>/mo</span>
                <h3 class="pricing-title"><span class="primary-bg">Business plan</span></h3>
              </div>
              <div class="pricing-content">
                <div style="text-align: center;">
                  <p>10 ready home page</p>
                  <p>5 different header style</p>
                  <p>Unlimited data transfer</p>
                  <p>30 days moneyback guarantee</p>
                  <p>Enhanced security</p>
                </div>
              </div><!-- pricing-content -->
              <div class="pricing-footer text-center">
                <a class="button caps_normal btn_normal btn-primary" href="#" target="_blank">Get started now</a>
              </div>
            </div><!-- pricing-table -->
          </div>


          <div class="col-md-4">
            <div class="pricing-table">
              <div class="pricing-header text-center">
                <span class="unit">€</span>
                <span class="price"><strong>150</strong>/mo</span>
                <h3 class="pricing-title"><span class="bg_dark_blue">Ultimate plan</span></h3>
              </div>
              <div class="pricing-content">
                <div style="text-align: center;">
                  <p>10 ready home page</p>
                  <p>5 different header style</p>
                  <p>Unlimited data transfer</p>
                  <p>30 days moneyback guarantee</p>
                  <p>Enhanced security</p>
                </div>
              </div><!-- pricing-content -->
              <div class="pricing-footer text-center">
                <a class="button caps_normal btn_normal btn-secondary" href="#" target="_blank">Get started now</a>
              </div>
            </div><!-- pricing-table -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
