<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="dashboard" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a class="current">Daily Trading</a> </div>
    <h1>Daily trading</h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>Login History</h5>
            <span class="label label-info">Featured</span> </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Date</th>
                <th>Ip Address</th>
                <th>Country</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>01/04/2017</td>
                <td>192.168.1.241</td>
                <td>Kaunas, Lithuania</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>Trades</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
              <tr>
                <th>Day</th>
                <th>Option</th>
                <th>%(s)</th>
                <!-- <th>Engine version</th> -->
              </tr>
              </thead>
              <tbody>
              <tr class="gradeX">
                <td>Monday</td>
                <td>Bought Japanes</td>
                <td class="center" style="background-color:  #ff4d4d;color: black"> - 4</td>
              </tr>
              <tr class="gradeC">
                <td>Monday</td>
                <td>Bought Dolla stock</td>
                <td class="center" style="background-color:  #66ff66;color: black"> + 5</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

