<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="dashboard" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="" class="tip-bottom">Withdraw</a> <a href="" class="current">Western Union</a> </div>
    <img src="../../../assets/img/Mylogo/Western-Union-logo-old.png" style="width: 40%; height: 140px">
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6" style="width: 100%; margin-top: 118px">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
            <h5>Sending-info</h5>
          </div>
          <div class="widget-content nopadding">
            <form action="#" method="get" class="form-horizontal">
              <div class="control-group">
                <label class="control-label">First Name :</label>
                <div class="controls">
                  <input type="text" class="span11" placeholder="First name" required="" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Last Name :</label>
                <div class="controls">
                  <input type="text" class="span11" placeholder="Last name" required="" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Amount :</label>
                <div class="controls">
                  <input type="password"  class="span11" placeholder="Max Amount € 2000"  required="" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Country :</label>
                <div class="controls">
                  <input type="text" class="span11" placeholder="Country"  required="" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Tel :</label>
                <div class="controls">
                  <input type="text" class="span11" />
                </div>
              </div>
              <div class="control-group">
                <label class="control-label">Additional information :</label>
                <div class="controls">
                  <textarea class="span11" ></textarea>
                  <span class="help-block">optional</span> </div>
              </div>
              <div class="form-actions">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
