<form id="recoverform"  class="form-vertical">
  <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a
    password.</p>
  <div class="controls">
    <div class="main_input_box">
        <span class="add-on bg_lo">
          <i class="icon-envelope"></i>
        </span>
      <input type="email" placeholder="E-mail address"/>
    </div>
  </div>

  <div class="form-actions">
      <span class="pull-left">
        <a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a>
      </span>
    <span class="pull-right">
        <a href="" class="btn btn-info">Recover</a>
      </span>
  </div>
</form>
